html{
    /* scroll-behavior: smooth; */
    scroll-behavior: auto;
  }
  body{
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: scroll;
  }
  body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(98, 94, 94);    
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 1px solid black;  */
  }
  
  
  .cloud{
    height: auto;
    width: 200px;
    position:absolute;
    margin-top: 25px;
  }
  
  
  .hero-sec {
    color: white;
    width: 100%;
    height: calc(115vh - 100px);
    position: relative;
    overflow: hidden;
    text-align: center;
    background:linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.2)) center no-repeat; 
  }
  
  .hero-sec .hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
   
  }
  .hero-sec .parallax {
    position: absolute;
    top:45%;
    left: 0;
    width: 100%;
    
  }
  
  section:not(.hero-sec) {
    background-color: white;
   
    position: relative;
    
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
  }
  @media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
  } 
  
  @media(max-aspect-ratio:16/9) {
    .back-video {
      width: 100%;
      height: 100%;
    }
  }
  
  
  /* navbar */
  .navigation {
    height: 70px;
    background: transparent;
  }
  
  .nav-container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    z-index: 1000;
  }
  .brand a,
  .brand a:visited {
    color: white;
    text-decoration: none;
  
  }
  .brand a, img{
   
        width: 200px;
  }
  
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px 0 20px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-decoration: none;
  }
  nav ul li a::before {
    transition: 300ms;
    height: 4px;
    border-radius: 5px;
    content: "";
    position: absolute;
    background-color: whitesmoke;
    width: 0%;
    bottom: 0px;
  }
  nav ul li a:hover{
    color: rgb(194, 191, 87);
  }
  
  nav ul li a:hover::before {
    width: 70%;
    
  }
  nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 799px) {
    .nav-mobile {
      display: block;
    }
  
    .cloud{
      position: fixed;
      z-index: 1;
    }
  .brand img{
    margin:20px 0;
  
  }
    nav {
      width: 100%;
      padding: 70px 0 15px;
      position: fixed;
      z-index: 10;
      background:linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.9)) center no-repeat;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li a:hover::before {
      width: 20%;
      
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  
    .nav-dropdown {
      position: static;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 45px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  /* close */
  
  
  /* main */
  
  
  
  /* whyjoin */
  /*showcase2*/
  #showcase2{
    padding: 5px;
    padding-bottom: 100px;
    /* background:linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.2)) center no-repeat; */
    background:url("../images/white2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #showcase2 h1{
    font-size: 50px;
    margin-bottom: 20px;
    

  }
  #showcase2 img{
    width: 100%;
    margin-right: 40px;
    margin-top: 100px;
    
   
    
  }
  #showcase2 .showcase2-left{
    margin-top: 140px;
    font-size: large;
    margin-right: 25px;
  }
  /* section2 end */
  
 
   /*showcase3*/
   #showcase3{
    padding: 5px;
    padding-bottom: 100px;
    background: linear-gradient(#c9cecee8,white);
    background:  url("../images/white2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #showcase3 h1{
    font-size: 50px;
    margin-bottom: 20px;
    
   
   
    
  }
  #showcase3 img{
    width: 100%;
    margin-right: 40px;
    margin-top: 100px;
    
   
    
  }
  #showcase3 .showcase3-left{
    margin-top: 140px;
    font-size: large;
    margin-right: 25px;
  }
  

  .ss{
    margin-bottom: 100px;
  }
  
  /* section3 end */
 
  
  
  /* footer */
  
  
  .new_footer_area {
    background: #fbfbfd;
  }
  
  
  .new_footer_top {
    padding: 200px 0px 270px;
    position: relative;
      overflow-x: hidden;
     
      background-image:linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.2)), url("../images/bigcity3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: -100px;
     
      overflow-y: hidden;
  
  }
  .new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
  }
  .footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
  }
  .new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    font-weight: 500;
    color: #edf0f7;
    margin-bottom: 20px;
  }
  .new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
  }
  .btn_get_two:hover {
    background: transparent;
    color: #05627f;
  }
  .btn_get:hover {
    color: #fff;
    background: #05627f;
    border-color: #05627f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
  }
  
  
  
  .new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #05627f;
  }
  .new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
  }
  .f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
  }
  .f_widget.about-widget .f_list li {
    margin-bottom: 15px;
  }
  .f_widget.about-widget .f_list {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight:bold;
   
  }
  .new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: #05627f;
    text-decoration: none;
    font-size: 24px;
  }
  .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .ti-facebook:before {
    content: "\e741";
    color: white;
  }
  .ti-twitter-alt:before {
    content: "\e74b";
  }
  .ti-vimeo-alt:before {
    content: "\e74a";
  }
  .ti-pinterest:before {
    content: "\e731";
  }
  
  .btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #05627f;
    border-color: #05627f;
    color: #fff;
  }
  
  .btn_get_two:hover {
    background: transparent;
    color: #05627f;
  }
  
  .new_footer_top .f_social_icon a:hover {
    background: #05627f;
    border-color: #05627f;
  color:white;
  }
  .new_footer_top .f_social_icon a + a {
    margin-left: 4px;
  }
  .new_footer_top .f-title {
    margin-bottom: 30px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  z-index: 100;
  }
  .f_600 {
    font-weight: 600;
  }
  .f_size_18 {
    font-size: 26px;
  }
  .new_footer_top h1, h2, h3, h4, h5, h6{
    color: white;
    font-size: 30px;
    z-index: 100;
  }
  .new_footer_top .f_widget.about-widget .f_list li a {
    color:white;
    z-index: 100;
    list-style: none;
    text-decoration: none;
  }
  
  
  .new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("") no-repeat scroll center 0;
    width: 100%;
    height:200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .new_footer_top .footer_bg .footer_bg_one {
    background: url("../images/carclassy.png") no-repeat center center;
    width: 330px;
    height: 200px;
    background-size:125%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
    /* z-index: 1000; */
  }
  
  .new_footer_top .footer_bg .footer_bg_two {
    background: url("") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
    /* z-index: 1000; */
  }
  
  
  
  @-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
  }
  
  @-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
  }
  
  @keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
  }
  
  
  
  .fa-facebook:before {
    content: "\f09a";
    color: white;
  }
  
  .fa-twitter:before {
    content: "\f099";
    color: white;
  }
  
  
  .fa-linkedin:before {
    content: "\f08c";
    color: white;
  }
  
  
  .fa-pinterest:before {
    content: "\f0d2";
    color: white;
  }
  
  /*************footer End*****************/