{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<body lang="en">
  
  {% block content %}
    <!-- hero -->
    

    <div class="section2" id="sec2"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div id="myvideo" class="dash-left wrap-element">
                      <iframe class="wrapped-iframe" title="Indian Education Dashboard (1)" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=aadaad7b-d859-496f-96e5-9654b272fad2&autoAuth=true&ctid=64f42feb-ecb8-4fdf-8c86-061329888bb7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
                                        <button class="btn btn-info ml-5 mt-3" onclick="openFullscreen();"><i class="fa-solid fa-expand"></i></button>                     

                    </div>
                </div>
                <div class="col-md-3 col-sm-3" style="margin-top:200px;">
                    <h3 style="text-align: center; color: #43a3f2;">Why choose Indian Education Dashboard</h3>
                    <ul>
                        <li>363 offices assist in buying life insurance</li>
                        <li>Simple online purchase process</li>
                        <li>79k+ direct selling agents to guide</li>
                        <li>3-steps online claim process</li>
                    </ul>
                </div> 
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 pt-5 pb-5" style="padding:0 100px 0 55px; width:100%">
                  An educational dashboard summarizes and visualizes various information that can be useful to support <br>the Management and information of overall Student Teacher and infrastructure of schools by state level district level and Management level.
                </div>
            </div>
            <!--  -->
        </div>
    </div>
      <script>
      var elem = document.getElementById("myvideo");
      function openFullscreen() {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
          elem.msRequestFullscreen();
        }
      }
      </script>
      
    
    
    <!-- .iframe-container {
        overflow: hidden;
        padding-top: 56.25%; /* 16:9*/
        position: relative;
        z-index: 1000;
      }
      
      .iframe-container iframe {
         border: 0;
         height: 100%;
         left: 0;
         position: absolute;
         top: 0;
         width: 100%;
         background-color: #f2f2f2;
      } -->
     
    

        <!-- <section class="section2" id="section2" style="background-color: #f2f2f2;">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-8 col-sm-8" style="height:auto">
                        <div class="dash-left iframe-container">
                            <iframe title="finance p v1.3_Mobile_view" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6fdb32e3-66d6-4b39-968c-d9fdd8768981&autoAuth=true&ctid=d4299a95-9515-4322-bee7-f48ae88f5987&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                        </div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-md-4 col-sm-4" style="background-color: #f2f2f2; height:auto;color:black;">
                        <div class="dash-right">
                            <h3 style="text-align: center; color: #eb2f06;;">Why choose Aditya Birla Sun Life Insurance?</h3>

                            <ul>
                
                                <li>363 offices assist in buying life insurance</li>
                
                                <li>Simple online purchase process</li>
                
                                <li>79k+ direct selling agents to guide</li>
                
                                <li>3-steps online claim process</li>
                
                            </ul>
                
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    
        
    

    <!-- sec 2 -->
   


    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar js -->
    <script>
      ; (function ($) {
        $(function () {
          $('nav ul li > a:not(:only-child)').click(function (e) {
            $(this)
              .siblings('.nav-dropdown')
              .slideToggle()
            $('.nav-dropdown')
              .not($(this).siblings())
              .hide()
            e.stopPropagation()
          })
          $('html').click(function () {
            $('.nav-dropdown').hide()
          })

          $('#nav-toggle').click(function () {
            $('nav ul').slideToggle();
          });
          $('#nav-toggle').on('click', function () {
            this.classList.toggle('active')
          })
        })
      })(jQuery)
    </script>


    <!-- main sec -->
   
    <!-- main sec close -->

   
    {% endblock %}
    

  </body>

</html>