{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudstrats</title>
    <meta name="description" content="We help founders build enduring companies.">

    <!--navbar-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/nav.css"> -->
 

    <!--scroll Reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- fontawesom -->
    <script src="https://kit.fontawesome.com/126a21f2e6.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>



    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- card -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--scroll Reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="{% static 'css/dashcss/style.css' %}">
    <script src="{% static 'js/nav.js' %}"></script>

    <!--email  -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
      (function () {
        emailjs.init("rLNBKrl2Ty74t6rUu");
      })();
    </script>


  </head>

  <body>
    <!-- hero -->
    <section class="hero-sec" style="z-index:100 ;">
      <div class="navigation">
        <div class="nav-container">
          <div class="brand mt-3">
            <a href="/"><strong style="font-family:bold;"><img class="cloud"
                  src="{% static 'images/bluelogo.png' %}"></strong></a>
          </div>
          <nav style="z-index: 100;">
            <div class="nav-mobile">
              <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list mt-4" style="z-index: 100;">
              <!-- <li>
                <a href="#!" style="color: #14324a;"><i class="fas fa-arrow-alt-left icon1" style="color: #3072a7;">back</a>
              </li> -->
              
              <li>
                <a href="/dashboard" style="color: #14324a;"><i class="fa-solid fa-arrow-left icon1" style="color: #3072a7;"></i>Back</a>
              </li>
              <li>
                <a href="/dashboard" style="color: #14324a;"><i class="fa-solid fa-home icon1" style="color: #3072a7;"></i>Home</a>
              </li>
              <li>
                <a href="/dashboard" style="color: #14324a;"><i class="fa-solid fa-lightbulb icon1" style="color: #3072a7; margin-left: 10px;"></i>Solution</a>
              </li>
              <li>
                <a href="/dashboard" style="color: #14324a;"><i class="fa-solid fa-brain icon1" style="color: #3072a7;margin-left: -12px;"></i>AI </a>
              </li>

              <li>
                <a href="#!" style="color: #14324a;"><i class="fa-solid fa-file-pen icon2" style="color: #3072a7;"></i>Custom Report</a>
              </li>
              <li>
                <a href="/" style="color: #14324a;"><i class="fa-solid fa-right-from-bracket icon4" style="color: #3072a7;"></i>Logout</a>
              </li>

            </ul>
          </nav>
        </div>
      </div> 
    </section>
<!-- navbar js -->
</body>
</html>